.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-links {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;

}

.form-control {
    display: flex;
    flex-direction: column;
}