html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

:root{
  --speed: 500ms;
}

/* backdrop */

dialog::backdrop {
  background: rgba(0,0,0,0.8);
}

/* hide scroll */

.hidescroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidescroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* infiniteScroll fix */

.infinite-scroll-component__outerdiv {
  width: 100%;
}

.infinite-scroll-component__outerdiv::-webkit-scrollbar {
  display: none;
}

/* login and register page bg gradient */

.login-gradient{
  background: radial-gradient(circle,  rgba(0,0,0,1) 20%, rgba(255,255,255,0.0) 70%, rgba(169,76,121,0.2) 100%);
}

/* animations */

.change-width {
  transition: width 1s ease;
}

.fade-in-render {
  animation: fade-in-render 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes fade-in-render {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-opacity {
  transition: opacity 0.1s ease-in;
  transition-delay: 0.1s;
}

@keyframes fade-in-opacity {
  from { opacity: 0; }
  to   { opacity: 1; }
}


/* tool section animate */

.nav-dropdown{
  display: flex; 
  overflow: hidden; 
  position: absolute; 
  flex-direction: column; 
  border-radius: 0.5rem; 
  width:300px;
  color: #000000; 
  background-color: #ffffff; 
  filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03)) drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08)); 
  top: 4rem;
  right: 0.5rem;
  transition: height var(--speed) ease, width var(--speed) ease;
}


.menu-secondary-next-enter {
  opacity: 0;
  transform: translateX(100%);
}
.menu-secondary-next-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}
.menu-secondary-next-exit {
  opacity: 1;
  transform: translateX(0);
}
.menu-secondary-next-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 500ms, transform 500ms;
}

.menu-secondary-back-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.menu-secondary-back-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}
.menu-secondary-back-exit {
  opacity: 1;
  transform: translateX(0);
}
.menu-secondary-back-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}


.menu-primary-enter{
  transform: translateX(-100%);
  position: absolute;
}

.menu-primary-enter-active{
  
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit{
  position: absolute;
}

.menu-primary-exit-active{
  transform: translateX(-100%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter{
  transform: translateX(100%);
}

.menu-secondary-enter-active{
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit-active{
  transform: translateX(100%);
  transition: all var(--speed) ease;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.transition-wrapper {
  overflow: hidden;
  position: relative;
}

/* marker cluster custom css */

.marker-cluster-small {
	background-color: rgba(0,0,0,0.8) !important
}

.marker-cluster-small div {
	background-color: rgba(181, 226, 140, 1) !important
	}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

/* leaflet custom css */

.leaflet-control-attribution {
  display: none;
}

.leaflet-tooltip-bottom:before {
  border-bottom-color: transparent !important
}

/* Mui DataGrid style */

.MuiDataGrid-cell:focus, .MuiDataGrid-cell:focus-within {
  outline: none !important
}

.dark .css-1llmzjh-MuiDataGrid-root {
  --DataGrid-containerBackground: var(--tw-color-black) !important;
  --DataGrid-rowBorderColor: var(--tw-color-grey-5) !important;
  border-width: 0 !important;
}

.css-1llmzjh-MuiDataGrid-root {
  --DataGrid-containerBackground: var(--tw-color-white) !important;
  --DataGrid-rowBorderColor: var(--tw-color-grey-1) !important;
  border-width: 0 !important;
}

.dark .css-lnpwct-MuiTablePagination-displayedRows, .dark .css-1llmzjh-MuiDataGrid-root, .dark .MuiTablePagination-selectLabel, .dark .css-1rxbn6c-MuiButtonBase-root-MuiMenuItem-root-MuiTablePagination-menuItem, .dark .css-194a1fa-MuiSelect-select-MuiInputBase-input{
  color: var(--tw-color-white)
}

.css-lnpwct-MuiTablePagination-displayedRows, .css-1llmzjh-MuiDataGrid-root, .MuiTablePagination-selectLabel, .css-1rxbn6c-MuiButtonBase-root-MuiMenuItem-root-MuiTablePagination-menuItem, .css-194a1fa-MuiSelect-select-MuiInputBase-input {
  color: var(--tw-color-black)
}

.dark .css-1llmzjh-MuiDataGrid-root svg{
  fill: var(--tw-color-white)
}

.dark .css-1w53k9d-MuiDataGrid-overlay, .dark .css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: var(--tw-color-black)
}

.css-1w53k9d-MuiDataGrid-overlay, .css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: var(--tw-color-white)
}

.MuiDataGrid-withBorderColor {
  border-color: var(--tw-color-grey-1) !important
}

.dark .MuiDataGrid-withBorderColor {
  border-color: var(--tw-color-grey-5) !important
}

.dark .MuiTableCell-root, .MuiTableCell-head, .MuiTableCell-sizeMedium, .css-nfqv2w-MuiTableCell-root {
  color: var(--tw-color-grey-0);
  border-color: var(--tw-color-grey-5) !important
}

.MuiTableCell-root, .MuiTableCell-head, .MuiTableCell-sizeMedium, .css-nfqv2w-MuiTableCell-root {
  color: var(--tw-color-black);
  border-color: var(--tw-color-grey-1) !important
}

.dark .MuiTablePagination-selectIcon{
  color: inherit !important
}

.dark .css-zylse7-MuiButtonBase-root-MuiIconButton-root{
  color: var(--tw-color-grey-2) !important
}


@tailwind base;

@layer base{

  input[type], input:focus, select {
    @apply focus:ring-0 focus:ring-offset-0 focus:border-0 focus:outline-none border-0 bg-trans p-2;
  }
  
  .css-1rtad1, .scroll::-webkit-scrollbar {
    @apply w-[6px] h-[6px] rounded-full
  }
  
  .css-1rtad1, .scroll::-webkit-scrollbar-thumb {
    @apply rounded-full bg-grey-2 dark:bg-grey-4
  }

  .css-1rtad1, .scroll::-webkit-scrollbar-track {
    @apply bg-grey-0 dark:bg-grey-5
  }
  
  .css-1rtad1, .scroll::-webkit-scrollbar-thumb:hover {
    @apply bg-grey-4 dark:bg-grey-3
  }
  
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat-bold';
  font-weight: normal;
  src: url(./assets/fonts/Montserrat-SemiBold.ttf) 
}

@font-face {
  font-family: 'Montserrat-md';
  font-weight: normal;
  src: url(./assets/fonts/Montserrat-Medium.ttf) 
}

@font-face {
  font-family: 'Montserrat-l';
  font-weight: normal;
  src: url(./assets/fonts/Montserrat-Light.ttf)
}






