html {
  height: 100%;
}


body {
  margin: 0;
  height: 100%;
}

:root{
  --speed: 500ms;
}

/* login and register page bg gradient */

.login-gradient{
  background: radial-gradient(circle,  rgba(0,0,0,1) 20%, rgba(255,255,255,0.0) 70%, rgba(169,76,121,0.2) 100%);
}

/* tool section animate */

.dropdownMenu{
  display: flex; 
  overflow: hidden; 
  position: absolute; 
  flex-direction: column; 
  border-radius: 0.5rem; 
  width:300px;
  color: #000000; 
  background-color: #ffffff; 
  filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03)) drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08)); 
  top: 4rem;
  right: 0.5rem;
  transition: height var(--speed) ease;
}

.menu-primary-enter{
  transform: translateX(-100%);
  position: absolute;
}

.menu-primary-enter-active{
  
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit{
  position: absolute;
}

.menu-primary-exit-active{
  transform: translateX(-100%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter{
  transform: translateX(100%);
}

.menu-secondary-enter-active{
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit-active{
  transform: translateX(100%);
  transition: all var(--speed) ease;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.transition-wrapper {
  overflow: hidden;
  position: relative;
}

/* marker cluster custom css */

.marker-cluster-small {
	background-color: rgba(0,0,0,0.8) !important
}

.marker-cluster-small div {
	background-color: rgba(181, 226, 140, 1) !important
	}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

/* leaflet custom css */

.leaflet-tooltip-bottom:before {
  border-bottom-color: transparent !important
}

@tailwind base;

@layer base{
  
  input[type], input:focus {
    @apply focus:ring-0 focus:ring-offset-0 focus:border-0 focus:outline-none border-0 bg-trans;
  }
  
  .scroll::-webkit-scrollbar {
    @apply w-[6px]
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background: #888;
  }

  .scroll::-webkit-scrollbar-track {
    background: #EEE;
  }
  
  .scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src: url(./assets/fonts/Roboto-Regular.ttf)
}

@font-face {
  font-family: 'Montserrat-bold';
  font-weight: normal;
  src: url(./assets/fonts/Montserrat-Bold.ttf) 
}

@font-face {
  font-family: 'Montserrat-md';
  font-weight: normal;
  src: url(./assets/fonts/Montserrat-Medium.ttf) 
}

@font-face {
  font-family: 'Montserrat-l';
  font-weight: normal;
  src: url(./assets/fonts/Montserrat-Light.ttf)
}




